/* font-family: 'Bellota Text', cursive;
font-family: 'Darker Grotesque', sans-serif;
font-family: 'Josefin Slab', serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}


/* I change default font size. Now 1 rem = 10 px */
html {
  font-size: 62.5%;
}


.hamburguer {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 5rem;
  right: 5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: right 0.7s;
}


.change .hamburguer {
  right: 33rem;
}


.line {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}


.change .line {
  background-color: rgba(0, 0, 0, 0.8);
  box-shadow: none;
}


.change .line-1 {
  transform: rotate(45deg) translate(0.3rem, 0.8rem);
}


.change .line-2 {
  opacity: 0;
  visibility: hidden;
}


.change .line-3 {
  transform: rotate(-45deg) translate(0.3rem, -0.8rem);
}


.header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}


.img-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}


.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
  animation: scale 25s;
}


@keyframes scale {
  0% {
    transform: scale(1.3);
  }

  100% {
    transform: scale(1);
  }
}


.banner {
  position: absolute;
  top: 30%;
  left: 15%;
}


.banner h1 {
  font-size: 8rem;
  font-family: "Darker Grotesque", sans-serif;
  color: #fff;
  font-weight: 300;
  width: 50%;
  line-height: 7rem;
  letter-spacing: 0.4rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
}


.banner p {
  font-family: "Josefin Slab", serif;
  color: #fff;
  font-size: 3rem;
  width: 70%;
  letter-spacing: 0.1rem;
  margin: 3rem 0;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  animation: moveBanner 1s 0.7s forwards;
}


.banner button {
  width: 20rem;
  height: 7rem;
  background-color: #1e8cbe;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 2rem;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
  opacity: 0;
  animation: moveBanner 1s 0.9s forwards;
}


@keyframes moveBanner {
  0% {
    transform: translateY(40rem);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.sidebar {
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: #fff;
  transition: right 0.5s;
}


.change .sidebar {
  right: 0;
}


.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.menu-item {
  text-align: center;
}


.menu-link {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 3.5rem;
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  transition: color 0.5s;
}


.menu-link:hover {
  color: #1e8cbe;
  font-size: 3.6rem;
}


.social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}


.social-media i {
  font-size: 2.2rem;
  margin: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #a8a8a8;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.5s;
}


.social-media i:hover {
  background-color: #1e8cbe;
}


.about-us {
  width: 100%;
  background-color: #f5f5f5;
}

.section-header {
  height:20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-heading {
  font-family:'Bellota Text', cursive;
  font-size: 4rem;
  font-weight: 300;
  color: #4b4b4b;
  margin-bottom: 3rem;
}

.underline {
  width: 10rem;
  height: 0.3rem;
  background-color: #1e8cbe;
}

.services {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  row-gap: 4rem;
}

.service{
  width: 100%;
  margin-bottom: 2rem;
}
.service:nth-child(1) {
  grid-column: 4 / 7;
  grid-row: 1 / 3;
}

.service:nth-child(2) {
  grid-column: 3 / 6;
  grid-row: 3 / 5;
}

.service:nth-child(3) {
  grid-column: 4 / 7;
  grid-row: 5 / -1;
}

.service:nth-child(4) {
  grid-column: 11 / 14;
  grid-row: 1 / 3;
}

.service:nth-child(5) {
  grid-column: 12 / 15;
  grid-row: 3 / 5;
}

.service:nth-child(6) {
  grid-column: 11 / 14;
  grid-row: 5 / -1;
}

.service-header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.service-header i{
  font-size: 4rem;
  color: #c0c0c0;
  margin-right: 2rem;
}

.service-header h3 {
  font-family:  'Darker Grotesque', sans-serif;
  font-size: 2.5rem;
 
  font-weight: 400;
  margin-bottom: 2rem;
}

.service-text {
  font-family:'Josefin Slab', serif;
  font-size: 1.6rem;
  text-align: justify;
}


.about-us-img-wrapper {
  grid-column: 7 / 11;
  grid-row: 1 / 6;
  width: 100%;

}

.about-us-img-wrapper img {
  width: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 0 5rem 15rem 5rem;
}

.cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%; 
}

.card {
  width: 30rem;
  height: 45rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.6rem;
  position: relative;
}


.card-img-wrapper{
  width: 100%;
  height: 100%;
}

.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
 transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {

opacity: 0.5;

}
.card-info {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}

.card-info h2 {
 font-family: 'Bellota Text', cursive;
 font-size: 2.5rem;
 line-height: 2.5rem;
 font-weight: 200;
}

.card-info h3 {
  font-family: 'Josefin Slab', serif;
  font-size: 2rem;
  color: #1e8cbe;
  font-weight: 500;
  margin: 1rem 0;
}

.card-info p {
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 font-size: 1.4rem;
 line-height: 1.6rem;
 font-weight: 300;
 width: 80%;
 margin-bottom: 2rem;
}

.card-info button {
  width: 10rem;
  height: 3rem;
  background-color: #4297be;
  border: none;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  line-height: 1.4rem;
  color:#f5f5f5;
  border-radius: 0.3rem;
  box-shadow:0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.contact {
  width: 100%;
  height: 100vh;
  background-color:#4297be;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-wrapper {
  width: 50rem;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f5f5;
  box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.4);
}

.contact-heading {
  font-family: 'Josefin Slab', serif;
  font-size: 5rem;
  font-weight: 100;
  margin-bottom: 5rem;
  text-align: center;
  color: #1e8cbe;
}

.input-group{
  position: relative;
}

.field {
  width: 45rem;
  border: none;
  background-color: transparent;
  border-bottom: 0.1rem solid #4b4b4b;
  margin: 2rem 0;
  padding: 1rem 1rem 1rem 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 1.6rem;
  color: #4b4b4b;
}

.input-group input {
  height: 5rem;
}

.input-group textarea {
  max-height: 7rem;
  max-width: 45rem;
}

.input-group label {
  position: absolute;
  left: 0;
  font-family:'Bellota Text', cursive; 
  font-size: 1.6rem;
  color: #4b4b4b;
  pointer-events: none;
  transition: all 0.3s;
}

.input-label {
  bottom: 3rem;
}

.message {
  bottom: 5rem;
}

.field:focus ~ label,
.field:valid ~ label {
  transform: translateY(-3rem);
  font-size: 1.1rem;
}



.submit-btn {
  width: 45rem;
  height: 5rem; 
  background-color: #4297be;
  border: none;
  margin-top: 2rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  line-height: 1.4rem;
  color:#f5f5f5;
  border-radius: 0.3rem;
  cursor: pointer;
  text-align: center;
}

.footer {
  width: 100%;
  height: 15rem;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-family: 'Bellota Text', cursive; 
  font-size: 1.6rem;
}

.footer-social-media a {
  margin: 0 2rem;
}

.footer-social-media i {
  font-size: 2rem;
  color:#1e8cbe;
}

@media screen and (max-width: 1400px){
  .contact-wrapper{
    width: 40%;
    }
  
    .field{
      width: 32rem;
    }
    .submit-btn {
      width: 30rem;
      height: 3rem;
      margin-left: 2.5rem;
    }
}

@media screen and (max-width: 1024px){
  .about-us-img-wrapper{
    display: flex;
    align-items: center;
  }

  .service-text{
    font-size: 1.4rem;
  }

  .cards-wrapper{
    flex-direction: column;
    align-items: center;
  }

  .card {
    margin-bottom: 5rem;
  }

  .contact-wrapper{
  width: 50%;
  }

  .field{
    width: 32rem;
  }
  .submit-btn {
    width: 30rem;
    height: 3rem;
    margin-left: 2.5rem;
  }
}

@media screen and (max-width: 768px){
  .banner h1{
    font-size: 6rem;
  }
  .banner p{
    font-size: 2rem;
  }
  .banner button{
    width: 15rem;
    height: 5rem;
    font-size: 1.5rem;
  }

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .service {
    width: 40%;
    height: 40%;
  }

  .about-us-img-wrapper {
    order: -1;
    width: 40%;
    height: 40%;
  }

  .contact-wrapper{
    width: 68%;
    
    }

    .field{
      width: 28rem;
    }

    .submit-btn {
      width: 20rem;
      height: 3rem;
      margin-left: 2.5rem;
    }
}

@media screen and (max-width: 420px){

  .banner h1{
    font-size: 4rem;
  }
  .banner p{
    font-size: 2.2rem;
  }
  .banner button{
    width: 13rem;
    height: 5rem;
    font-size: 1.5rem;
  }

  .service {
    width: 60%;
    height: 60%;
  }
  .about-us-img-wrapper {
    
    width: 50%;
    height: 50%;
  }


  .team {
    padding: 0 5rem 10rem 5rem
}
  .card {
    width: 25 rem;
    height: 35rem;
  }
  
  .contact h1{
   font-size: 3rem;
  }

  .contact-wrapper{
    width: 90%;
    height: 50rem;
    overflow: hidden;
    }

    .field{
      width: 28rem;
    }
    
    .submit-btn {
      width: 25rem;
      height: 3rem;
      margin-left: 2.5rem;
    }
    .footer-content {
      width: 90%;
    }
    .copyright{
      font-size: 1.3rem;
      width: 30%;
    }
  }

  @media screen and (max-width: 320px) {
  
      .field{
        width: 25rem;
      }
      
      .submit-btn {
        width: 20rem;
        height: 3rem;
        margin-left: 2.5rem;
      }

  }